{% extends "base.html"%}
{% load static %}
{% block title%} - Blog{% endblock title %}
{% block content %}
<section class="small-container margin-top">
  <h1 class="main-headline text-center">Blog</h1>
</section>
<main>
  <div class="small-container">
    <div class="article-wrapper flex margin-bottom">
      {% for post in posts %}
      <article class="article-card margin-top">
        <h2 class="article-card__header">
          <a class="article-card__link" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <p class="article-card__date">
          <time> {{ post.created|date:"Y-m-d" }}</time> -
          {{ post.display_categories }}
        </p>
      </article>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock content %}
