{% if social_accounts.github %}
<a href="{{ social_accounts.github }}" title="Github">
  <svg class="icon icon-github" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-github"></use>
  </svg>
  <span class="access-label">icon-github</span>
</a>
{% endif %}

{% if social_accounts.twitter %}
<a href="{{ social_accounts.twitter }}" title="twitter">
  <svg class="icon icon-twitter" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-twitter"></use>
  </svg>
  <span class="access-label">icon-twitter</span>
</a>
{% endif %}

{% if social_accounts.rss %}
<a href="{{ social_accounts.rss }}" title="rss">
  <svg class="icon icon-rss" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-rss"></use>
  </svg>
  <span class="access-label">icon-rss</span>
</a>
{% endif %}

{% if social_accounts.facebook %}
<a href="{{ social_accounts.facebook }}" title="facebook">
  <svg class="icon icon-facebook" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-facebook"></use>
  </svg>
  <span class="access-label">icon-facebook</span>
</a>
{% endif %}

{% if social_accounts.gitlab %}
<a href="{{ social_accounts.gitlab }}" title="gitlab">
  <svg class="icon icon-gitlab" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-gitlab"></use>
  </svg>
  <span class="access-label">icon-gitlab</span>
</a>
{% endif %}

{% if social_accounts.instagram %}
<a href="{{ social_accounts.instagram }}" title="instagram">
  <svg class="icon icon-instagram" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-instagram"></use>
  </svg>
  <span class="access-label">icon-instagram</span>
</a>
{% endif %}

{% if social_accounts.linkedin %}
<a href="{{ social_accounts.linkedin }}" title="linkedin">
  <svg class="icon icon-linkedin" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-linkedin"></use>
  </svg>
  <span class="access-label">icon-linkedin</span>
</a>
{% endif %}

{% if social_accounts.mastodon %}
<a rel="me" href="{{ social_accounts.mastodon }}" title="mastodon">
  <svg class="icon icon-mastodon" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-mastodon"></use>
  </svg>
  <span class="access-label">icon-mastodon</span>
</a>
{% endif %}

{% if social_accounts.xing %}
<a href="{{ social_accounts.xing }}" title="xing">
  <svg class="icon icon-xing" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-xing"></use>
  </svg>
  <span class="access-label">icon-xing</span>
</a>
{% endif %}

{% if social_accounts.youtube %}
<a href="{{ social_accounts.youtube }}" title="youtube">
  <svg class="icon icon-youtube" aria-hidden="true" focusable="false">
    <use xlink:href="#icon-youtube"></use>
  </svg>
  <span class="access-label">icon-youtube</span>
</a>
{% endif %}
