{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ main_config.site_name }} {% block title%}{% endblock title %}</title>
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  {% block styles %}{% endblock styles %}
  <script src="{% static 'js/main.js'%}"></script>
  <link rel="icon" href="media/{{ main_config.favicon }}" type="image/png" />
</head>

<body>
  <!-- NAVBAR -->
  <header>
    <div class="navbar">
      <div class="container flex">
        <h1>
          <a class="logo" href="{% url 'home' %}">{{ main_config.site_name }}</a>
        </h1>
        <nav>
          <ul>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'search' %}">Search</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <!-- MAIN BLOCK -->
  <main>{% block content %}{% endblock content%}</main>

  <!-- FOOTER -->
  <footer class="container">
    <ul>
      {% if pages %}
      {% for page in pages %}
      <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
      {% endfor %}
      {% endif %}
      <li><a href="{% url 'feed' %}">RSS</a></li>
    </ul>
    <p class="text-center">
      {{ main_config.copyright_footer }} - Made with <a href="#">DevCase</a>
    </p>
  </footer>
</body>

</html>
