{% extends "base.html"%}
{% load static %}
{% load markdown_tags %}
{% block title%} - {{page.title}}{% endblock title %}
{% block meta %}
  <meta property=og:title content="{{ page.title }}">
  <meta name=twitter:card content="summary">
{% if page.seo %}
  <meta name="description" content="{{ page.seo }}">
  <meta property=og:description name=description content="{{ page.seo }}">
{% endif %}
{% endblock meta %}
{% block content %}
<section class="small-container margin-top">
  <h1 class="main-headline text-center">{{ page.title }}</h1>
</section>
<main>
  <div class="small-container margin-top flex">
    <!-- Markdown Content -->
    <div class="md-content">
      <p class="text-card__text">{{ page.content | markdown | safe }}</p>
    </div>
  </div>
</main>
{% endblock content %}
